.ItemDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &__icon {
        align-self: flex-end;
        margin: 1rem;
        cursor: pointer;
        font-size: 2.5rem !important;
        color: var(--color-primary-normal) !important;
    }

    img {
        width: 100%;
    }

    h2 {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }
}